<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD AJAX & AXIOS</title>
    <style>
        form {
            border: 1px solid #FFFFFF;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }

        label {
            display: block;
            margin-top: 5px;
        }

        input, textarea, select, option {
            min-width: 200px;
        }

    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

</head>
<body>
<div id="app" class="section">
    <form @submit.prevent="submitForm()">
        <p v-if="errors.length">
            <b>Periksa Form</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>
        <label>Name : {{ f.name }}</label>
        <input type="text" class="input is-primary" v-model="f.name" :disabled="buttonStatus== 'upload'" name="name" ref="name">
        <label>Address : {{ f.address }}</label>
        <textarea class="textarea is-primary" v-model="f.address" :disabled="buttonStatus== 'upload'" name="address" ref="address"></textarea>
        <label>No. HP : {{ f.no_hp }}</label>
        <input type="text" class="input is-primary" v-model="f.no_hp" :disabled="buttonStatus== 'upload'" name="no_hp" ref="no_hp">
        <br><br>
        <div v-if="buttonStatus == 'submit'">
            <input type="submit" value="Submit" class="button is-primary">
        </div>
        <div v-else-if="buttonStatus == 'update'">
            <input type="button" @click="updateUser(idEditUser)" value="Update" class="button is-info">
            <input type="button" @click="clearForm" value="Cancel" style="margin-top: 7px;" class="button is-warning">
        </div>
        <div v-else-if="buttonStatus == 'upload'">
            <input type="file" name="photo" ref="photo">
            <input type="button" @click="submitPhoto(idUploadUser)" value="Upload" style="margin-top: 7px;" class="button is-info">
            <input type="button" @click="clearForm" value="Cancel" style="margin-top: 7px;" class="button is-warning">
        </div>
    </form>
    <br><br><br>
    <table border=1 class="table">
        <thead>
        <tr>
            <th><abbr title="Position">Photo</abbr></th>
            <th>Data</th>
            <th><abbr title="Played">Action</abbr></th>
        </tr>
        </thead>

        <tr v-for="user of users">
            <td>
                <img width=100 :src="user.photo_profile ? imageUrl +  user.photo_profile  : 'https://via.placeholder.com/150x150'" alt="">
            </td>
            <td>
                <b>Name : </b>{{user.name}}
                <br>
                <b>Address : </b> {{user.address}}
                <br>
                <b>No.HP : </b> {{user.no_hp}}
                <br>
            </td>
            <td>
                <button class="button is-primary" @click="editUser(user)">Edit</button>
                <button class="button is-danger" @click="removeUser(user.id)">Hapus</button>
                <button class="button is-info" @click="uploadPhoto(user)">Upload Foto</button>
            </td>
        </tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.baseURL = 'https://demo-api-vue.sanbercloud.com/api'
    axios.defaults.headers.post['Content-Type'] = 'application/json'
    axios.defaults.headers.post['Accept'] = 'application/json'
    axios.defaults.headers.post['Powered-By'] = 'Smile Wibi'
    let vm = new Vue({
        el: '#app',
        data: {
            f: {
                name: '',
                address: '',
                no_hp: '',
            },
            errors: [],
            users: [],
            imageUrl: 'https://demo-api-vue.sanbercloud.com',
            buttonStatus: 'submit',
            idEditUser: null,
            idUploadUser: null
        },
        methods: {
            getUsers: function () {
                axios.get('/member')
                .then((response) => {
                    this.users = response.data.members
                })
                .catch((error) => {
                    console.log(error)
                })
            },
            clearForm: function () {
                this.f.name = ''
                this.f.address = ''
                this.f.no_hp = ''
            },
            validationForm: function () {
                this.errors = []
                if (this.f.name.length < 5) {
                    this.errors.push('Nama minimal 5 karakter')
                    this.$refs.name.focus()
                }
                if (this.f.address.length < 5) {
                    this.errors.push('Deskripsi terlalu pendek')
                    this.$refs.description.focus()
                }
                if (this.f.no_hp.length < 13) {
                    this.errors.push('Nomor HP Minimal 13')
                    this.$refs.description.focus()
                }
            },
            submitForm: function () {
                this.validationForm()
                if (this.errors.length === 0) {
                    axios.post('/member', this.f)
                    .then((response) => {
                        this.clearForm()
                        this.getUsers()
                        alert(response.data.message)
                        console.log(response.data)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                }
            },
            removeUser: function (id) {
                axios.delete(`/member/${id}`)
                .then((response) => {
                    this.getUsers()
                    alert(response.data.message)
                    console.log(response)
                })
                .catch(() => {
                    console.log(error)
                })
                console.log(id)
            },
            editUser: function (user) {
                this.f.name = user.name
                this.f.address = user.address
                this.f.no_hp = user.no_hp
                this.buttonStatus = 'update'
                this.idEditUser = user.id
            },
            updateUser: function (id) {
                this.validationForm()
                if (this.errors.length === 0) {
                    axios.put(`/member/${id}`, this.f)
                    .then((response) => {
                        this.clearForm()
                        this.getUsers()
                        alert(response.data.message)
                        this.buttonStatus = 'submit'
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                }
            },
            uploadPhoto: function (user) {
                this.f.name = user.name
                this.f.address = user.address
                this.f.no_hp = user.no_hp
                this.buttonStatus = 'upload'
                this.idUploadUser = user.id
            },
            submitPhoto: function (id) {
                let file = this.$refs.photo.files[0]
                let formData = new FormData()
                formData.append('photo_profile', file)
                axios.post(`/member/${id}/upload-photo-profile`, formData)
                .then((response) => {
                    this.clearForm()
                    this.getUsers()
                    alert(response.data.message)
                    this.buttonStatus = 'submit'
                })
                .catch((error) => {
                    console.log(error)
                })
                // console.log(id)
            }
        },
        created () {
            this.getUsers()
        }
    })
</script>
</body>
</html>