<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Router</title>
</head>
<body>
<div id="app">
    <h1>Vue Router</h1>
    <form @submit.prevent="submitForm()">
        <label>Login :</label>
        <input class="input is-primary" type="text" name="name" ref="name" v-model="login">

    </form>
    <p v-if="login"> anda telah login sebagai {{ login }}</p>
    <p v-else> anda belum login</p>

    <!-- Pengganti tag <a href=""></a>  -->
    <router-link to="/halaman1">Halaman 1</router-link>
    <router-link to="/halaman2">Halaman 2</router-link>
    <router-link to="/halaman3">Halaman 3</router-link>
    <hr>

    <router-view></router-view>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script type="module">
    let login
    const halaman1 = {template: '<div>Ini Halaman 1</div>', props: ['login']}
    const halaman2 = {template: '<div>Ini Halaman 2</div>', props: ['login']}
    const halaman3 = {template: '<div>Ini Halaman 3</div>', props: ['login']}
    const routes = [
        {path: '/halaman1', component: halaman1},
        {path: '/halaman2', component: halaman2, meta: {login: true, role: null}},
        {path: '/halaman3', component: halaman3, meta: {login: true, role: 'admin'}},
        {path: '*', redirect: '/halaman1'}
    ]
    Vue.use(VueRouter)
    const router = new VueRouter({
        routes
    })
    router.beforeEach((to, from, next) => {
        let auth
        if (to.meta.login) {
            if (to.meta.role === 'admin')
                if (vm && vm.login && vm.login === 'admin') {
                    alert('anda berhasil memasuki halaman admin')
                } else {
                    alert('anda harus login sebagai admin untuk memasuki halaman ini')
                    next(false)
                }
            else if (vm && vm.login) {
                alert('anda berhasil masuk')
            } else {
                next(false)
                alert('anda harus login dulu')
            }
        } else {
            next()
        }
  })
  let vm = new Vue({
        el: '#app',
        router,
        data: {
            login
        }
    })
</script>
</body>
</html>